.ml{
    margin-left: 40px;
}

.dashboard-card-content {
    text-align:justify;
  }

  .title{
    font-size: 20px;
  margin: 20px;
  margin-top: 10px;
  text-align: center;
  color: rgb(79, 115, 161);
  }

  .toolbar{
    height: 30px;
        background: rgb(106, 131, 155);
        color: white;
        font-size: 15px;
    
  }
  .backgraound{
    background-color: rgba(239, 242, 243, 0.459);
  }

  .container{
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    background-color: rgba(239, 242, 243, 0.459);

  }

  .card{
    padding-left: 10px;
    padding-right: 10px;
    
  }

  .box{
    box-sizing: border-box;
    border-radius: 10px;
  }

  .example-full-width {
    width: 40%;
  }

  .edit{
    margin-right: 10px;
    font-size: 15px;
    
  }