.login-form {
    padding: 20px;
}

.mt {
    margin-top: 80px;
    background-color: rgba(239, 242, 243, 0.459);

}

.toolbar {
    background: rgb(106, 131, 155);
    color: white;
}

.flex {
    display: flex;
    border: 20px;
    padding: 20px;
}

.dashboard-card-content {
    text-align: center;
}